# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/.terraform.tfstate.lock.info
**/tfplan
**/tfplan.binary
**/*.tfvars
!**/*.tfvars.example
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
**/crash.log
**/crash.*.log

# Windows Zone Identifiers
*:Zone.Identifier
*:sec.endpointdlp
